    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 2rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="pb-3">
      
                    <h2 class="fw-bold mb-3 text-uppercase">Login</h2>
                    <p class="text-white-50 mb-3">Please enter your User Name and Password!</p>
      
                    <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)" class="form-outline form-white mb-2">
                      
                      <label class="form-label" for="userName">User Name</label>
                      <input type="text" id="userName" class="form-control form-control-lg" formControlName="userName" placeholder="User Name" required autofocus/>
                    <!-- </div>
      
                    <div class="form-outline form-white mb-3"> -->
                      <label class="form-label" for="password">Password</label>
                      <input type="password" id="password" class="form-control form-control-lg" formControlName="password" placeholder="Password" required autofocus/>
                      <p class="small mb-5 "><a class="text-white-50" href="#!">Forgot password?</a></p>
                      <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                    
                    </form>
      
                  </div>
      
                  <div>
                    <p class="mb-0">Don't have an account? <a routerLink="/" href="" class="text-white-50 fw-bold">Sign Up</a>
                    </p>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      