<div class="container">

    <div class="row">

        <div class="div-col-lg col-lg-12 text-center">

            <div class="div-con-fl container-fluid">

                <div class="row">

                    <div class="div-col-sm col-sm-4 btn btn-success text-center">

                        {{title}}

                    </div>

                    <div class="col-sm-3" style="text-align : right;">

                        <button class="btn btn-primary" type="button">Edit</button>

                    </div>

                    <div class="col-sm-4" style="text-align : right;">

                        <button class="btn btn-primary" type="button" (click)="goToList()">Go To List</button>

                    </div>

                </div>

            </div>

            <div class="div-box container-box card">

                <div class="row">

                    <div class="div-col-2 col-2">

                        <strong>Item:</strong>

                    </div>

                    <div class="div-col col">

                        {{expenseEntry.item}}

                    </div>

                </div>

                <div class="row">

                    <div class="div-col-2 col-2">

                        <strong>Category:</strong>

                    </div>

                    <div class="div-col col">

                        {{expenseEntry.category}}

                    </div>

                </div>

                <div class="row">

                    <div class="div-col-2 col-2">

                        <strong>Location:</strong>

                    </div>

                    <div class="div-col col">

                        {{expenseEntry.location}}

                    </div>

                </div>

                <div class="row">

                    <div class="div-col-2 col-2">

                        <strong>Amount:</strong>

                    </div>

                    <div class="div-col col">

                        {{expenseEntry.amount}}

                    </div>

                </div>

                <div class="row">

                    <div class="div-col-2 col-2">

                        <strong>Quantity:</strong>

                    </div>

                    <div class="div-col col">

                        {{expenseEntry.quantity}}

                    </div>

                </div>

                <div class="row">

                    <div class="div-col-2 col-2">

                        <strong>Spent:</strong>

                    </div>

                    <div class="div-col col">

                        {{expenseEntry.spendOn}}

                    </div>

                </div>

                <div class="row">

                    <div class="div-col-2 col-2">

                        <strong>Created:</strong>

                    </div>

                    <div class="div-col col">

                        {{expenseEntry.createdOn}}

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>