.div-col-lg {

    padding-top: 20px;
}

.div-con-fl {

    padding-left: 0%;
    padding-right: 0%;
}

.div-col-sm {

    text-align: left;
}

.div-box {

    margin-top: 10px;
}

.div-col-2 {

    text-align: right;
}

.div-col {

    text-align: left;
}